*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
!site/
*.m~
*.bcf
*.xml
*.png
*.eps
*.swp
*.nav
*.snm
*.vrb
*.fls
*.fdb_latexmk
*.bak
*.sav
*.fig
